.addEditProductDialog-in{
  animation-name: drop-in;
  animation-duration: 0.3s;
}

.addEditProductDialog-out{
  animation-name: drop-out;
  animation-duration: 0.3s;
}

@keyframes drop-in {
  from {transform: translate(0,-6em);}
  to {transform: translate(0,0);}
}

@keyframes drop-out {
  from {transform: translate(0,0);}
  to {transform: translate(0,-10em);}
}